<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">
           
    <!-- Navbar brand -->

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Library<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" 
                    mdbWavesEffect routerLink="library/equipment">Equipment</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

<!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<div style="text-align:center">
  <h1>
    Hello World!
  </h1>
</div>
<router-outlet></router-outlet>
