<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">    
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Home<span class="sr-only">(current)</span></a>
            </li>            
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Library<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" 
                    mdbWavesEffect routerLink="/library/equipments">Equipment</a>
                </div>
            </li>

        </ul>
        <form class="form-inline waves-light" mdbWavesEffect (submit)="submit($event)" >
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" 
                (keyup.enter)="onKey($event)">
                <button type="submit" style="display:none"></button>
            </div>
        </form>
    </links>
    
</mdb-navbar>

<mat-toolbar>
  Equipment cards
</mat-toolbar>
<div class="basic-container">

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let equipment of data"
      [colspan]="1"
      [rowspan]="2"
      [style.background]="lightgreen">
    <div class="view hm-white-slight waves-light" *ngIf="equipment.image === null; else image" mdbWavesEffect>
        <img src="https://via.placeholder.com/400x200/" class="img-fluid" alt="Image">
        <ng-template #image><img src="{{ equipment.image }}" class="img-fluid" alt="Image"></ng-template>
        <a>
            <div class="mask"></div>
        </a>
    </div>

    
    <div class="card-body">
        
        <h4 class="card-title">Card title</h4>
        
        <p class="card-text">{{equipment.id}}</p>
        <a class="btn btn-primary waves-light" mdbWavesEffect routerLink="/library/equipment/exercises/{{equipment.id}}">Exercises</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>

</div>
            